<link rel="stylesheet" href="css/login.css">
<section class='section'>
    <div class="top">
        <h3 class="blod mar-8rem">AVITAL</h3>
        <p class="colorBlack">Mobile UI Kit</p>
    </div>
    <div class="main">
        <input type="email" placeholder="E-Mail"><br>
        <input type="password" placeholder="PassWord">
    </div>
    <div class="footer">
        <button class="blod btn bgWhite" ui-sref="profile">LOGIN NOW   <i class="iconfont icon-right"></i></button>
        <div class="blod btn bgWhite">
            <span class="spanFacebook colorWhite"><i class="mui-icon"></i>Facebook</span>
            <span class="spanGoogle colorWhite"><i class="mui-icon"></i>Google+</span>
        </div>
        <p class="colorWhite" ui-sref="register">Don't have an acount</p>
    </div>
</section>