<section class="section">
    <link type="text/css" rel="stylesheet" href="./css/modify.css"/>
    <h2><span><img src="./img/l.gif" alt=""/></span>Profile<i>× √</i></h2>

    <dl class="dl">
        <dt><img src="./img/r.jpg" alt=""/></dt>
        <dd>upload a profile photo</dd>
    </dl>
    <ul class="ul">
        <li>EMAIL<span><input type="text" placeholder="pixelbuddha@info.com"/></span></li>
        <li>PASSWORD<span><input type="password" placeholder="wobuzhidao"/></span></li>
        <li>REMEMBER ME<span>
                <label class="toggle">
                    <input type="checkbox" checked/>

                    <div class="tack">
                        <div class="handler"></div>
                    </div>
                </label>
            </span></li>
        <li>NAME<span>Edvard Korus</span></li>
        <li>TITLE<span>Web Designer</span></li>
        <li>LOCATION<span>Paris,France</span></li>
        <li>FACEBOOK<span>
                <label class="toggle">
                    <input type="checkbox"/>

                    <div class="tack">
                        <div class="handler"></div>
                    </div>
                </label>
            </span></li>
        <li>TWITTER<span>
                <label class="toggle">
                    <input type="checkbox" checked/>

                    <div class="tack">
                        <div class="handler"></div>
                    </div>
                </label>
            </span></li>
    </ul>
</section>
