<section class="section">
    <link type="text/css" rel="stylesheet" href="./libs/css/swiper.css"/>
    <link type="text/css" rel="stylesheet" href="./css/news.css"/>

    <h2>
        <span><img src="./img/c.gif" alt=""/></span>
        News
        <i><img src="./img/s.gif" alt=""/></i>
    </h2>

    <div class="div">
        <h3>START YOUR JOURNEY</h3>
        <ul>
            <li>Congrats, matey! You’re good to go</li>
            <li>Just one last bit o’advice. If</li>
            <li>Watch out for the Ghost Shop!</li>
        </ul>
        <button>GET STARTED</button>
    </div>
    <div class="swiper-container swiper-o">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-o">
                    <dl class="homedl">
                        <dt><img src="./img/news1_1.png" alt=""/></dt>
                        <dd>
                            <h3>An Incredible
                                <p>Journey in Paris</p>
                            </h3>
                            <ul>
                                <li>You will walk through all</li>
                                <li>the famous places...</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="homedl">
                        <dt><img src="./img/news1_2.png" alt=""/></dt>
                        <dd>
                            <h3>Top Attractions
                                <p>the Great London</p>
                            </h3>
                            <ul>
                                <li>Know all the beauty</li>
                                <li>and splendor of this city...</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-o">
                    <dl class="homedl">
                        <dt><img src="./img/news1_3.png" alt=""/></dt>
                        <dd>
                            <h3>An Incredible
                                <p>Journey in Paris</p>
                            </h3>
                            <ul>
                                <li>You will walk through all</li>
                                <li>the famous places...</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="homedl">
                        <dt><img src="./img/news1_4.png" alt=""/></dt>
                        <dd>
                            <h3>Top Attractions
                                <p>the Great London</p>
                            </h3>
                            <ul>
                                <li>Know all the beauty</li>
                                <li>and splendor of this city...</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="homebox">
            <span></span>
            <span></span>
        </div>
    </div>
</section>
<script type="text/javascript" src="./libs/js/swiper.min.js"></script>
<script type="text/javascript" src="./js/myswiper.js"></script>
