<section class="section">
    <link type="text/css" rel="stylesheet" href="./css/personal.css"/>
    <h2><span><img src="./img/l.gif" alt=""/></span>Profile<i><img src="./img/s.gif" alt=""/></i></h2>

    <div class="div">
        Edvard Korus
        <p>Artist,Web,Designer,Paris</p>
    </div>
    <ul class="ul">
        <li>
            2560
            <p>LIKES</p>
        </li>
        <li>
            4025
            <p>FOLLOWERS</p>
        </li>
        <li>
            1278
            <p>FOLLOWING</p>
        </li>
    </ul>
    <button class="bt colorWhite">FOLLOW +</button>
    <div class="nav">
        <span>Posts</span>
        <span>Photos</span>
        <span>Message</span>
    </div>
</section>


