 <section class="section">
     <link type="text/css" rel="stylesheet" href="./css/profile.css"/>
        <h2><span><img src="./img/l.gif" alt=""/></span>Profile<i><img src="./img/s.gif" alt=""/></i></h2>
        <img src="./img/p2-Profile_03.jpg" alt="" class="img"/>

        <ul class="ul">
            <li>
                158K
                <p>FOLLOWERS</p>
            </li>
            <li>
                John Fredson
                <p>Writter</p>
            </li>
            <li>
                25K
                <p>FOLLOWINC</p>
            </li>
        </ul>
        <button class="bt">FOLLOW +</button>
        <div class="photo">
            <li>
                <img src="./img/b2-Profile_02.jpg" alt=""/>
                <img src="./img/b2-Profile_03.jpg" alt=""/>
            </li>
            <li>
                <img src="./img/b2-Profile_05.jpg" alt=""/>
                <img src="./img/b2-Profile_07.jpg" alt=""/>
            </li>
        </div>
</section>
