<link rel="stylesheet" href="css/login.css">
<section class='section'>
    <div class="mui-icon mui-icon-close topleft colorWhite" ui-sref="login"></div>
    <div class="top">
        <h3 class="blod mar-5rem">REGISTER</h3>
    </div>
    <div class="main">
        <input type="email" placeholder="E-Mail"><br>
        <input type="text" placeholder="userName">
        <input type="password" placeholder="PassWord">
        <input type="password" placeholder="Confirm PassWord">
    </div>
    <div class="footer">
        <button class="blod btn bgBule colorWhite">REGISTER   <i class="iconfont icon-right"></i></button>
        <p class="colorWhite">By clicking register.I agree to your <a href="#" class="colorWhite underLine">Terms</a></p>
    </div>
</section>