<section class="section">
    <link type="text/css" rel="stylesheet" href="./css/social3.css"/>
    <h2><span><img src="./img/l.gif" alt=""/></span>Profile<i><img src="./img/s.gif" alt=""/></i></h2>

    <div class="nav3">
        <span>ALL</span>
        <span>PEOPLE</span>
        <span>PHOTOS</span>
        <span>VIDEOS</span>
    </div>
    <div class="div3">
        <dl>
            <dt><img src="./img/social3_1.png" alt=""/></dt>
            <dd>
                YAROSLAV ZAITSEV
                <p>5875 images, 1420 videos</p>
            </dd>
        </dl>
        <ul>
            <li><img src="./img/social3_4.png" alt=""/></li>
            <li><img src="./img/social3_5.png" alt=""/></li>
            <li><img src="./img/social3_6.png" alt=""/></li>
        </ul>
    </div>
    <div class="div3">
        <dl>
            <dt><img src="./img/social3_2.png" alt=""/></dt>
            <dd>
                NIGKY BUDDHA
                <p>1468 images, 9825 videos</p>
            </dd>
        </dl>
        <ul>
            <li><img src="./img/social3_7.png" alt=""/></li>
            <li><img src="./img/social3_8.png" alt=""/></li>
            <li><img src="./img/social3_9.png" alt=""/></li>
        </ul>
    </div>
    <div class="div3">
        <dl>
            <dt><img src="./img/social3_3.png" alt=""/></dt>
            <dd>
                CREG LARIN
                <p>2018 images, 8125 videos</p>
            </dd>
        </dl>
        <ul>
            <li><img src="./img/social3_10.png" alt=""/></li>
            <li><img src="./img/social3_11.png" alt=""/></li>
            <li><img src="./img/social3_12.png" alt=""/></li>
        </ul>
    </div>
</section>
